.chat-message {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 10px;
  &.is-answer {
    justify-content: flex-start;
  }
}
.chat-message__user-icon {
  width: 30px;
  height: 30px;
}
.chat-message-text {
  display: inline-block;
  margin-left: 10px;
  background: #8a8a8a;
  border-radius: 10px;
  padding: 5px;
  font-size: 14px;
}