/* reset */
html, body, div, form, fieldset, legend, label
{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }

h1 {
  font-size: 20px;
}
.root_app {
  padding-top: 20px;
}