.left-panel {
  background: #1678c9;
}
.left-panel__header {
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
  color: rgb(54, 54, 54);
}
.left-panel__users {
  width: 100%;
}
.left-panel__channels-header,
.left-panel__users-header {
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
  box-sizing: border-box;
  color: #464646;
}
.left-panel__channels-header {
  margin-top: 10px;
}
.left-panel__menu-user {
  font-size: 16px;
  display: inline-block;
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    background: #0a63ac98;
  }
}