.chat-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}
.chat-input__field {
  border-radius: 15px;
  border: 2px solid #1678c9;
  width: 40%;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none !important;
  color: #6d6d6d;
  font-weight: 100;
  transition: width 0.5s ease-out;
  &::placeholder {
    color: #a0a0a0;
    font-weight: 300;
  }
  &:focus {
    width: 80%;
  }
}