.chat_app {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .chat_app {
    grid-template-columns: 50px auto;
  }
}