body, html, #app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .hidden_mobile_version {
    display: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}