.currency__header {
  width: 100%;
  display: grid;
  grid-template-columns: 116px 66px 1fr 68px 1fr 100px 50px;
  grid-template-rows: 30px;
  background: linear-gradient(to bottom, #9cbadc 0%,#7290b0 100%);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 1px solid #E5E5E5;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.currency__header-cell {
  text-align: center;
  border-right: 1px solid #fff;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:last-child {
    border-right: none;
  }
}
.currency__header-button {
  cursor: pointer;
  user-select: none;
  &:hover {
    background: #989898;
  }
}